@mixin centered-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin fill {
  position: fixed;
  inset: 0;
  z-index: 100;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --default-space: 1rem;

  font-size: 16px;
}

// :is(section, div).content {
//   margin-top: var(--default-space);
// }

.btn {
  background: none;
  border: none;
  color: currentColor;
}

.font-light {
  font-weight: lighter !important;
}

.no-letter-spacing {
  letter-spacing: 0px !important;
}

.flow > * + *:not(.exception-flow) {
  margin-top: calc(var(--default-space) * 2) !important;
}

.flow-small > * + *:not(.exception-flow) {
  margin-top: calc(var(--default-space) * 1) !important;
}

.flow-large > * + *:not(.exception-flow) {
  margin-top: calc(var(--default-space) * 3) !important;
}

.centered-items {
  @include centered-items;
}

p {
  // letter-spacing: 0.2px;
  &.center {
    text-align: center;
  }

  &.faded {
    color: rgba(black, 0.38);
  }

  &.note {
    font-size: 0.8rem;
  }
}

.upper {
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

strong {
  font-weight: 900;
}

.horizontal-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.horizontal-items.start {
  justify-content: start;
  gap: 2em;
}

.horizontal-items.centered {
  justify-content: center;
  gap: 2rem;
}

.horizontal-items.double-gap {
  gap: 4rem;
}

.object-fit-left {
  object-position: center left;
}

.object-fit-right {
  object-position: center right;
}
