@import "basic";
@import "containers";

@mixin gradient-text-background {
  color: transparent;
  background-clip: text;
  width: fit-content;
}

$breakpoint-medium: 800px;
$breakpoint-small: 550px;

:root {
  --bg-color: rgb(20, 20, 20);
  --header-background: rgb(50, 50, 50);

  --font-title: "Nunito", sans-serif;
  --font-text: "Nunito", sans-serif;
  --header-height: 4rem;

  font-size: 16px;
}

body {
  font-family: var(--font-text), "Helvetica", sans-serif;
  background-color: var(--bg-color);
  color: rgb(210, 210, 210);
  overflow: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: "Nunito", serif;
  letter-spacing: 0.6px;
}

.serif {
  font-family: var(--font-title);
}

:is(h1, h2, h3, h4) + p {
  margin-top: 0.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
}

h1 {
  font-size: 4rem;
}

.text {
  font-family: var(--font-text);
}

p {
  line-height: 1.8;
}

:is(h1, h2, h3, h4, p).normal {
  font-weight: normal;
}

a {
  text-decoration: none;
}

nav a,
.btn-link {
  font-weight: bold;
  font-family: var(--font-title);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #c8c8c8;
}

nav a:not(.btn-link):hover {
  color: white;
}

.svg-link {
  filter: brightness(0.65);
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(1);
  }
}

.btn-link {
  padding: 0.5rem 1.2rem;
  border: 1px solid rgb(200, 200, 200);
  transition: background-color 0.1s ease, color 0.1s ease;

  &:hover {
    background-color: rgb(220, 220, 220);
    color: black;
  }
}

section:not(.section-hero, .section-footer) {
  padding-top: 2rem;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2rem;
}

.logo {
  font-family: var(--font-title);
}

.slide-on-view {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1.5s ease;
}

.slide-on-view.in-view {
  opacity: 1;
  transform: translateY(0);
}

.gradient-highlight {
  background-image: linear-gradient(to right, rgb(158, 31, 58), rebeccapurple);
  color: white;

  @supports (background-clip: text) {
    @include gradient-text-background();
  }

  &.text-center {
    margin: 0 auto;
  }
}

.swipe-up-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#svg-arrow-up {
  path {
    animation: bob 0.65s;
    animation-delay: 1.5s;
    animation-iteration-count: 2;
    animation-timing-function: ease;
  }

  @keyframes bob {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    10% {
      transform: translateY(0);
    }
  }
}
