@charset "UTF-8";
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --default-space: 1rem;
  font-size: 16px;
}

.btn {
  background: none;
  border: none;
  color: currentColor;
}

.font-light {
  font-weight: lighter !important;
}

.no-letter-spacing {
  letter-spacing: 0px !important;
}

.flow > * + *:not(.exception-flow) {
  margin-top: calc(var(--default-space) * 2) !important;
}

.flow-small > * + *:not(.exception-flow) {
  margin-top: calc(var(--default-space) * 1) !important;
}

.flow-large > * + *:not(.exception-flow) {
  margin-top: calc(var(--default-space) * 3) !important;
}

.centered-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p.center {
  text-align: center;
}

p.faded {
  color: rgba(0, 0, 0, 0.38);
}

p.note {
  font-size: 0.8rem;
}

.upper {
  text-transform: uppercase;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

strong {
  font-weight: 900;
}

.horizontal-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.horizontal-items.start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 2em;
}

.horizontal-items.centered {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.horizontal-items.double-gap {
  gap: 4rem;
}

.object-fit-left {
  -o-object-position: center left;
     object-position: center left;
}

.object-fit-right {
  -o-object-position: center right;
     object-position: center right;
}

.swipable-containers {
  will-change: auto;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

:root {
  --bg-color: rgb(20, 20, 20);
  --header-background: rgb(50, 50, 50);
  --font-title: "Nunito", sans-serif;
  --font-text: "Nunito", sans-serif;
  --header-height: 4rem;
  font-size: 16px;
}

body {
  font-family: var(--font-text), "Helvetica", sans-serif;
  background-color: var(--bg-color);
  color: #fceeff;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4 {
  font-family: "Nunito", serif;
  letter-spacing: 0.6px;
}

.serif {
  font-family: var(--font-title);
}

:is(h1, h2, h3, h4) + p {
  margin-top: 0.5rem;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
}

h1 {
  font-size: 3.2rem;
  letter-spacing: 2px;
}

h1.title-large {
  font-size: 4rem;
}

.text {
  font-family: var(--font-text);
}

p {
  line-height: 1.8;
}

:is(h1, h2, h3, h4, p).normal {
  font-weight: normal;
}

a {
  text-decoration: none;
}

nav a,
.btn-link {
  font-weight: bold;
  font-family: var(--font-title);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #c8c8c8;
}

nav a:not(.btn-link):hover {
  color: white;
}

.svg-link {
  -webkit-filter: brightness(0.65);
          filter: brightness(0.65);
  -webkit-transition: -webkit-filter 0.2s ease;
  transition: -webkit-filter 0.2s ease;
  transition: filter 0.2s ease;
  transition: filter 0.2s ease, -webkit-filter 0.2s ease;
}

.svg-link:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.btn-link {
  padding: 0.5rem 1.2rem;
  border: 1px solid #c8c8c8;
  -webkit-transition: background-color 0.1s ease, color 0.1s ease;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.btn-link:hover {
  background-color: gainsboro;
  color: black;
}

section:not(.section-hero, .section-footer) {
  padding-top: 2rem;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}

.logo {
  font-family: var(--font-title);
}

.slide-on-view {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease;
}

.slide-on-view.in-view {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.gradient-highlight {
  background-image: -webkit-gradient(linear, left top, right top, from(#9e1f3a), to(rebeccapurple));
  background-image: linear-gradient(to right, #9e1f3a, rebeccapurple);
  color: white;
}

@supports (background-clip: text) {
  .gradient-highlight {
    color: transparent;
    background-clip: text;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.gradient-highlight.text-center {
  margin: 0 auto;
}

.swipe-container {
  height: 100vh;
  overflow: hidden;
}

.swipe-up-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

#svg-arrow-up path {
  -webkit-animation: bob 1.6s;
          animation: bob 1.6s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: 10;
          animation-iteration-count: 10;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
}

@-webkit-keyframes bob {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes bob {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  30% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  60% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.paragraph-medium > p {
  font-size: 1.15rem;
}

.black {
  font-weight: bold;
}

.sample-sentences > p {
  letter-spacing: 0.5px;
}

.sample-sentences > p::before {
  content: "• ";
  color: rgba(255, 255, 255, 0.2);
}

span.highlight-size {
  font-size: 1.1em;
}
/*# sourceMappingURL=main.css.map */